.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 300px;
}

.table-printed {
    margin: 2px;
}
.table-printed td {
    border: 1px solid black;
    height: 25px;
    width: 40px;
}