<missing-localization>
  <missing key="ValidationKeys:Summary" culture="en-US">There are errors with the information you provided.</missing>
  <missing key="FubuMVC.Authentication.LoginRequest:UserName:Header" culture="en-US">User Name</missing>
  <missing key="FubuMVC.Authentication.LoginRequest:Password:Header" culture="en-US">Password</missing>
  <missing key="FubuMVC.Authentication.LoginRequest:RememberMe:Header" culture="en-US">Remember Me</missing>
  <missing key="ValidationKeys:Required" culture="en-US">Required Field</missing>
  <missing key="WorkoutPlanner.Web.Athletes.CreateAthleteViewModel:FirstName:Header" culture="en-US">First Name</missing>
  <missing key="WorkoutPlanner.Web.Athletes.CreateAthleteViewModel:LastName:Header" culture="en-US">Last Name</missing>
  <missing key="WorkoutPlanner.Web.Workouts.CreateWorkoutViewModel:AthleteId:Header" culture="en-US">Athlete Id</missing>
  <missing key="WorkoutPlanner.Web.Workouts.CreateWorkoutViewModel:Type:Header" culture="en-US">Type</missing>
  <missing key="WorkoutPlanner.Web.Workouts.CreateWorkoutViewModel:Phase:Header" culture="en-US">Phase</missing>
  <missing key="WorkoutPlanner.Web.Athletes.CreateAthleteViewModel:PhoneNumber:Header" culture="en-US">Phone Number</missing>
  <missing key="WorkoutPlanner.Web.Athletes.CreateAthleteViewModel:Email:Header" culture="en-US">Email</missing>
  <missing key="WorkoutPlanner.Web.Athletes.CreateAthleteViewModel:BirthDate:Header" culture="en-US">Birth Date</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:WorkoutId:Header" culture="en-US">Workout Id</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:Name:Header" culture="en-US">Name</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:Sets:Header" culture="en-US">Sets</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:Reps:Header" culture="en-US">Reps</missing>
  <missing key="WorkoutPlanner.Web.Exercises.CreateExerciseViewModel:Name:Header" culture="en-US">Name</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:Exercise:Header" culture="en-US">Exercise</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:ExerciseId:Header" culture="en-US">Exercise Id</missing>
  <missing key="WorkoutPlanner.Web.Workouts.DetailWorkoutViewModel:Group:Header" culture="en-US">Group</missing>
  <missing key="WorkoutPlanner.Web.Workouts.AddExerciseViewModel:Exercise:Header" culture="en-US">Exercise</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:WorkoutId:Header" culture="en-US">Workout Id</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Group:Header" culture="en-US">Group</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Sets:Header" culture="en-US">Sets</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Reps:Header" culture="en-US">Reps</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Down:Header" culture="en-US">Down</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Bottom:Header" culture="en-US">Bottom</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Up:Header" culture="en-US">Up</missing>
  <missing key="WorkoutPlanner.Web.Workouts.ExerciseViewModel:Top:Header" culture="en-US">Top</missing>
  <missing key="LoginKeys:Failed" culture="en-US">Incorrect credentials.  Attempt {0} of {1}</missing>
</missing-localization>